h1 {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: "Helvetica", sans-serif;
  padding: 40px 10px;
  margin: 30px 0;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.form {
  margin: auto;
  margin-top: 50px;
  background-color: #d3d3d3;
  display: block;
  padding: 1rem;
  max-width: 365px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}
.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

main {
  display: inline-block;
  justify-items: center;
  text-align: center;
}
main {
  display: inline-block;
  /* justify-items: center; */
  text-align: center;
}
.card {
  display: inline-block;
  margin: 25px;
  border: 1px solid #2b415433;
  height: 450px;
  width: 300px;
  align-content: center;
  text-align: center;
  align-items: center;
}

.card:hover {
  transform: scale(0.9);
  transition-duration: 0.5s;
}
.perfumeImg {
  width: 300px;
}

.brand {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 300;
}

.model {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 800;
}

.price {
  margin: 20px 30px;
  font-family: Helvetica, sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: red;
}