h1 {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: "Helvetica", sans-serif;
  padding: 40px 10px;
  margin: 30px 0;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 40%;
  height: 500px;
  padding: 20px;
  border: 1px solid #2b415433;
}
.perfumeImg {
  width: 300px;
}

.brand {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 300;
  text-decoration: underline;
  font-size: 1.5em;
}

.model {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 800;
}

.price {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  margin: 35px;
}
.price:hover {
  color: green;
}

.description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.25em;
  font-style: italic;
}

.cart {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 6%;
  right: 10%;
}

a{
  text-decoration: none;

}

.EditBtn, .returnBtn {
  width: 100px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 208, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  font-size: 1.01em;
  font-weight: 550;
  margin: 10px;
  text-decoration: none;
}
.EditBtn:hover, .returnBtn:hover {
  transform: scale(0.90);
  transition-duration: 0.5s;
}

.CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 208, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  text-decoration: none;
  margin: 0 0 0 10px ;

}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.CartBtn:active, .EditBtn:active, .returnBtn:active {
  transform: scale(0.90);
  transition-duration: 0.5s;
}

