* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    color:#fff
    /* background-image: url(./images/Untitled.png); */
    
  }
  
  nav {
    background-color: #050912;
    width: 100%;
    padding: 2px 0;
    display: flex;
    padding-left: 30px;
    align-items: center;
  
  }
  
  nav ul {
    flex: 1;
  }
  
  nav ul li {
    display: inline-block;
    margin: 10px 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }