.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1.5rem;
  margin-top: 0.6rem;
}
h1 {
  font-family: "Helvetica", sans-serif;
  padding: 40px 10px;
  margin: 30px 0;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  flex-direction: column;
  flex: 4 0;
  justify-content: space-evenly;
  border: 1px solid #2b415433;

  border-radius: 1rem;
  list-style: none;
  margin: 0.5rem;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

ul li:last-child {
  border: none;
}

li img {
  width: 6rem;
  height: 5rem;
  border-radius: 100rem;
  object-fit: cover;
}

li div button {
  color: black;
}

li div {
  padding: 1rem;
}

li div:not(:first-child) {
  flex-basis: 18%;
}

li input {
  width: 3rem;
  outline: none;
  border: none;
  border: 1px solid rgb(165, 165, 165);
  font-size: 1.1rem;
  font-weight: 100;
}

li .remove-button {
  border-radius: 1rem;
  font-size: 20px;
  border: none;
  font-weight: 300;
  /* padding: 0.4rem; */
  width: fit-content;
  color: #ca3434;
  opacity: 0.9;
  outline: none;
}

li .remove-button:hover {
  box-shadow: 0 3px 8px;
  transform: scale(0.95);
  transition-duration: 0.5s;
  cursor: pointer;
}

li div a {
  color: black;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 3;
  height: 20rem;
  border: 1px solid #2b415433;

  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.checkout > div {
  font-size: 1.4rem;
  margin: 1rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.foods-count {
  margin-bottom: 1.5rem;
}

.foods-count::before {
  content: "Count: ";
  color: grey;
}
.total-price::before {
  content: "Price: ";
  color: grey;
}

.checkout button {
  padding: 1rem;
  color: white;
  background-color: #ca3434;
  display: block;
  width: 80%;
  border-radius: 1rem;
  text-align: center;
  opacity: 0.8;
  justify-self: center;
}

.checkout button:hover {
  opacity: 1;
  transform: scale(0.95);
  transition-duration: 0.5s;
  cursor: pointer;
}

.empty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.addItems {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  text-decoration: none;
}

.addItems:hover {
  color: blue;
}

