<h1>Cart</h1>
<div *ngIf="isEmpty">
  <div class="empty">Sorry, your Cart is empty😔...</div>
  <a class="addItems" routerLink="/home">Add items</a>
</div>

<div *ngIf="cart && cart.items.length" class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.perfume.imageUrl" />
      </div>
      <div>
        <a routerLink="/home/{{ cartItem.perfume._id }}">
          {{ cartItem.perfume.brand }}
        </a>
      </div>
      <div>
        <input
          #quantitySelect
          [value]="cartItem.quantity"
          (change)="changeQuantity(cartItem, quantitySelect.value)"
        />
      </div>
      <div>
        {{ cartItem.price | currency : "BGN" }}
      </div>

      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
          Remove
        </button>
      </div>
    </li>
  </ul>
  <div class="checkout">
    <div>
      <div class="total-price">{{ cart.totalPrice | currency : "BGN" }}</div>
    </div>

    <!-- <a routerLink="/checkout">Proceed to Checkout</a> -->
    <button (click)="checkout()">Proceed to Checkout</button>
  </div>
</div>
